
.question {
  background: white;
  padding: 20px 10px;
  color: black;
  border: 2px solid black;
}

div.answer mat-form-field {
  width: 100%;
  margin: 30px 0;
}

.answers-block {
  padding: 10px;
}

.qid {
  margin-right: 7px;
  background-color: #ffffff;
  color: black;
}

.badge-warning {
  background-color: lightgrey;
}

.questions-list .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep .questions-list .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  color: #AAAAAA;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  min-height: 85px;
  max-height: max-content;
  border-bottom: 1px solid #111111;
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  font-weight: 600;
  font-size: 1.35em;
  padding-left: 30px;
  margin: 0;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li .check {
  display: block;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 30px;
  width: 31px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before {
  background: #AAAAAA; /*attr('data-background');*/
}

input[type=radio].right ~ label {
  color: #00FF00;
}

input[type=radio].right ~ label::after {
  content: "\f00c";
}

input[type=radio] ~ label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

input[type=radio].wrong ~ label {
  color: #FF0000;
}

input[type=radio].wrong ~ label::after {
  content: "\f00d";
}

input[type=radio].wrong ~ label::after, input[type=radio].right ~ label::after {
  font-family: FontAwesome;
  transition: all 1s;
  display: inline-block;
  padding-right: 3px;
  padding-top: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/*----------riple bubble-----------------*/
ul {
  margin: 0 auto;
}

.container {
  padding: 10px;
}

.row.user-result {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translate(-50%, -50%);
}

.progress-bar {
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -o-transition: width 2s ease;
  transition: width 2s ease;
}

.text-center {
  text-align: center;
}

.questions-list > div {
  margin: 0 auto;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  padding: 13px;
  margin-right: 10px;
  margin-top: 10px;
}

:host ::ng-deep .mat-radio-container {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-radio-outer-circle {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-radio-inner-circle {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 60px; /*double of your required circle radius*/
  width: 60px; /*double of your required circle radius*/
  left: calc(50% - 30px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 30px); /*'10px'-same as your required circle radius*/
}

.answers-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.answers-box mat-label {
  font-size: 18px;
}

.radio-button-group {
  padding-top: 10px;
}

span.required-question:after {
  content: "*";
  padding: 10px;
  color: red;
}

.question h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

:host ::ng-deep label.mat-checkbox-layout {
  display: flex;
  align-items: flex-end;
}

.user-result h1 {
  font-size: xx-large
}

@media (max-width: 962px) {
  .question h3 {
    font-size: 17px;
  }
}
