<div class="container" *ngIf="questionList">
  <div class="row questions-list" [hidden]="showUserScore">
    <div class="col-md-10 col-lg-8 col-sm-offset-2">
      <div *ngFor="let question of questionList; index as questionNum" [hidden]="questionNum !== currentQuestion">
        <div class="question">
          <h3>
            <span [class.required-question]="question['required']"
                  [innerHTML]="questionNum + 1 + '.' + question['title']"></span>
            <span
              class="badge badge-warning mat-background-primary">{{question['point'] }} {{question['point'].toString() == '1' ? 'point' : 'points'}}</span>
          </h3>
        </div>
        <div class="answers-block questions-radio" *ngIf="question['type'] === 'radio'">
          <mat-radio-group [name]="question['name']">
            <div *ngFor="let answer of question['answers']; let answerNum = index"
                 class="radio-button-group">
              <mat-radio-button
                color="primary"
                id="{{questionNum}}-{{answerNum}}"
                value="{{answer['key']}}"
                (change)="selectAnswer(answerNum)">
                {{answer.value}}
              </mat-radio-button>
              <!--              <mat-label [innerHTML]="answer.value"></mat-label>-->
            </div>
          </mat-radio-group>
        </div>
        <div class="answers-block questions-checkbox" *ngIf="question['type'] === 'checkbox'">
          <div *ngFor="let answer of question['answers']; let answerNum = index" class="answers-box">
            <mat-checkbox
              color="primary"
              id="checkbox-{{questionNum}}-{{answerNum}}" [name]="question['name']"
              value="{{answer.key}}"
              (change)="selectCheckBoxAnswer(answerNum, $event.checked)">
              {{answer['value']}}
            </mat-checkbox>
            <!--            <mat-label [innerHTML]=""></mat-label>-->
          </div>
        </div>
        <div class="answers-block questions-text" *ngIf="question['type'] === 'text'">
          <div class="answer">
            <mat-form-field>
              <input matInput
                     [disabled]="inputsDisabled"
                     type="text"
                     id="{{questionNum}}-value"
                     [name]="question['name']"
                     (keyup)="selectAnswer($event.target['value'])">
            </mat-form-field>
          </div>
        </div>
        <div class="modal show-answer-block"
             [class.hidden]="!showAnswerModal"
             [class.correct-answer]="curQuestionResult === 'Correct'"
             [class.incorrect-answer]="curQuestionResult === 'Incorrect'"
             tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{curQuestionResult}}</h5>
              </div>
              <div class="modal-body">
                <p>{{curQuestionMessage}}</p>
              </div>
            </div>
          </div>
        </div>
        <button mat-raised-button
                (click)="changeQuestion()"
                [disabled]="question['required'] && userAnswers[questionNum]['userAnswer'] && userAnswers[questionNum]['userAnswer'].toString().trim().length === 0"
                class="btn btn-primary pull-right"
                style="margin: 20px 0;">{{ (questionNum === questionList.length - 1) ? 'Submit Quiz' : 'Next' }}</button>
      </div>
    </div>
  </div>
  <div class="row user-result" [hidden]="!showUserScore">
    <div class="col-md-12">
      <h1 class="text-center">
        Your score: {{ score.toString() }} {{ score.toString() == '1' ? 'point' : 'points' }}
      </h1>
      <h1 class="text-center">
        Thank you for participating
      </h1>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" [ngStyle]="{'width.%': quizResultPercent}">
        </div>
      </div>
    </div>
  </div>
</div>
