.submit-button {
  padding: 15px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-radio-group > * {
  padding: 5px 0;
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
}

mat-label.required-field {
  color: black;
}

mat-label.error-class, mat-checkbox.ng-touched.ng-invalid, mat-radio-group.ng-touched.ng-invalid {
  color: #f44336;
}

.required-field:after {
  content: " *";
  color: red;
}

/*.fields-container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  padding: 0;*/
/*}*/
