.submit-button {
  padding: 15px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-radio-group > * {
  padding: 5px 0;
}

.radio-buttons, .checkbox-fields {
  display: flex;
  flex-wrap: wrap;
}

mat-label.required-field {
  color: black;
}

mat-label.error-class, mat-checkbox.ng-touched.ng-invalid, mat-radio-group.ng-touched.ng-invalid {
  color: #f44336;
}

.container {
  padding: 0 !important;
}

form > .col-md-12 {
  padding: 0;
}

.required-field:after {
  content: " *";
  color: red;
}
