<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="col-md-12">
      <div class="text-fields">
        <mat-form-field *ngFor="let textField of fields.text"
                        [class.col-md-6]="fields.text.length > 1"
                        [class.col-md-12]="fields.text.length === 1">
          <mat-label [innerHTML]="textField.title"></mat-label>
          <input matInput [name]="textField.name" [type]=" textField.name === 'email' ? 'email' : 'text'  " ngModel
                 [required]="textField.required"
                 [email]="textField.name === 'email' ">
        </mat-form-field>
      </div>
      <div class="select-boxes">
        <mat-form-field *ngFor="let selectField of fields.select"
                        [class.col-md-6]="fields.select.length > 1 || (fields.stateInput && fields.stateInput.length !== 0) || (fields.countryInput && fields.countryInput.length !== 0)"
                        [class.col-md-12]="fields.select.length === 1 && !fields.stateInput.length && !fields.countryInput.length">
          <mat-label [innerHTML]="selectField.title"></mat-label>
          <mat-select [required]="selectField.required" [name]="selectField.name" ngModel>
            <mat-option *ngFor="let option of selectField['options']" [value]="option.key">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--        Field for country-->
        <mat-form-field *ngIf="fields.countryInput.length && countries"
                        [class.col-md-6]="fields.select.length !== 0"
                        [class.col-md-12]="fields.select.length === 0">
          <mat-label [innerHTML]="fields.countryInput[0].title"></mat-label>
          <mat-select [required]="fields.countryInput[0].required"
                      [name]="fields.countryInput[0].name"
                      (ngModelChange)="updateStates($event)"
                      [ngModel]="countryDefault">
            <mat-option *ngFor="let option of countries" [value]="option.code">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--        Field for state-->
        <mat-form-field *ngIf="fields.stateInput.length && states"
                        [class.col-md-6]="fields.select.length !== 0"
                        [class.col-md-12]="fields.select.length === 0">
          <mat-label [innerHTML]="fields.stateInput[0].title"></mat-label>
          <mat-select [required]="fields.stateInput[0].required" [name]="fields.stateInput[0].name" ngModel>
            <mat-option *ngFor="let option of states" [value]="option.code">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--        Field for category-->
        <mat-form-field *ngIf="fields.category.length && categories.length"
                        [class.col-md-6]="fields.select.length !== 0"
                        [class.col-md-12]="fields.select.length === 0">
          <mat-label [innerHTML]="fields.category[0].title"></mat-label>
          <mat-select [required]="fields.category[0].required" name="category" ngModel>
            <mat-option *ngFor="let option of categories" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="multiselect-boxes">
        <mat-form-field *ngFor="let multiSelectField of fields['multi-select']"
                        [class.col-md-6]="fields['multi-select'].length > 1"
                        [class.col-md-12]="fields['multi-select'].length === 1">
          <mat-label [innerHTML]="multiSelectField.title"></mat-label>
          <mat-select [required]="multiSelectField.required" [name]="multiSelectField.name" multiple ngModel>
            <mat-option *ngFor="let option of multiSelectField.options" [value]="option.key">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="textarea-fields">
        <mat-form-field *ngFor="let textAreaField of fields.textarea"
                        [class.col-md-6]="fields.textarea.length > 1"
                        [class.col-md-12]="fields.textarea.length === 1">
          <mat-label [innerHTML]="textAreaField.title"></mat-label>
          <textarea matInput [required]="textAreaField.required" [name]="textAreaField.name" ngModel></textarea>
        </mat-form-field>
      </div>
      <div class="radio-buttons">
        <mat-radio-group *ngFor="let radioField of fields.radio" ngModel
                         [class.col-md-6]="fields.radio.length > 1"
                         [class.col-md-12]="fields.radio.length === 1"
                         [name]="radioField.name"
                         [required]="radioField.required">
          <mat-label [class.required-field]="radioField.required" [innerHTML]="radioField.title"></mat-label>
          <mat-radio-button *ngFor="let option of radioField.options"
                            color="primary"
                            [value]="option.key">{{option.value}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="checkbox-fields">
        <mat-radio-group *ngFor="let checkBoxField of fields.checkbox"
                         [class.col-md-6]="fields.checkbox.length > 1"
                         [class.col-md-12]="fields.checkbox.length === 1"
                         [name]="checkBoxField.name">
          <mat-label [class.required-field]="checkBoxField.required" [innerHTML]="checkBoxField.title"></mat-label>
          <!--          ngModel-->
          <!--          [required]="checkBoxField.required"-->
          <!--          [name]=" 'checkboxfield-' + checkBoxField.name "-->
          <mat-checkbox *ngFor="let option of checkBoxField.options"
                        color="primary"
                        (change)="getCheckBoxes(checkBoxField.name, option.key, $event.checked)"
                        [checked]="option.default"
                        [value]="option.key">{{option.value}}</mat-checkbox>
        </mat-radio-group>
      </div>
      <div class="text-right submit-button">
        <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>
