app-questions {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 1920px) {
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 2px !important;
  }
}

::ng-deep .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0069d9;
}

::ng-deep .mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple,
::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-raised-button.mat-primary,
::ng-deep .btn-primary {
  background-color: #0069d9;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
  background-color: rgba(0,0,0,.12) !important;
}
