app-questions {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 1920px) {
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 2px !important;
  }
}
